<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001788466696-s0p0tgdmbh1t655162dmhanmlbh4vvl4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001788466696-s0p0tgdmbh1t655162dmhanmlbh4vvl4</string>
	<key>API_KEY</key>
	<string>AIzaSyBm-tk68ay_CuKApFUf2tnm1sOIGbkADJs</string>
	<key>GCM_SENDER_ID</key>
	<string>1001788466696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ieatta</string>
	<key>PROJECT_ID</key>
	<string>solid-scope-111511</string>
	<key>STORAGE_BUCKET</key>
	<string>solid-scope-111511.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001788466696:ios:cc0209b455ddff79</string>
	<key>DATABASE_URL</key>
	<string>https://solid-scope-111511.firebaseio.com</string>
</dict>
</plist>